credentials:
  access_key_id:
  secret_access_key:

common:
  s3: &common_s3
    bucket:
    region:

put_object_content_type:
  s3:
    <<: *common_s3
    object:
      file: tmp/files/json/main.json
      mime: application/json
      prefix: put_object_contents_type

copy_object_with_metadata:
  src_file: tmp/files/json/main.json
  s3:
    <<: *common_s3
    prefix: copy_object_with_metadata
